
@font-face {
    font-family: 'Marck';
    src: url(./vendor/fonts/marckscript/MarckScript-Regular.ttf) format("woff"),
    url(./vendor/fonts/marckscript/MarckScript-Regular.ttf) format("woff2");
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}
@font-face {
    font-family: 'Marck';
    src: url(./vendor/fonts/marckscript/MarckScript-Regular.ttf) format("woff"),
    url(./vendor/fonts/marckscript/MarckScript-Regular.ttf) format("woff2");
    font-weight: 900;
    font-style: normal;
    color: #FFFFFF;
}
.page {
    margin: 0 auto;
    background-image: url(./images/seyedeh-hamideh-kazemi-PFUqfNsorJM-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Marck', 'Inter', Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 1280px;
    height: 100vh;
}
.card{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card__title{
    max-width: 720px;
    min-height: 50px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    color: brown;
  }

  .card__subtitle{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: brown;
  }
  .link{
      transition: ease-in 1s;
      color: brown;
  }

  .border{
      border: blanchedalmond 2px solid;
      border-left: none;
      border-right: none;
  }

.card__links{
    max-width: 465px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.iframe {
    margin: 0 auto; 
    margin-top: 20px; 
  }
  


@media screen and (max-width:3840px) and (min-width:424px){
    .page {
        width: 100%;
    }
}

  @media screen and (max-width:709px) and (min-width:425px){
    .card__title{
        font-size: 40px;
        margin-top: 20px;
        margin: 0 auto;
      }
      .card__subtitle{
        font-size: 25px;
      }
    .footer__links{
        max-width: 709px;
        }
    }
  @media screen and (max-width:425px){
    .page {
        max-width: 100%;
    }
    .card__title{
          width: 288px;
          min-height: 88px;
          font-size: 30px;
          line-height: 1.1;
      }
    .card__subtitle{
        width: 288px;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 0px;
        margin-top: 16px;
    }
    .footer__links{
        min-height: 248px;
        flex-direction: column;
    }
    .border{
        max-width: 100px;
    }
    } 